<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
</head>
<body>
  <div id="main">

    <nav>
      <ul>
        {% for node in site.front_pages %}
        {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
        <li class="p-{{id}}"><a href="/#{{id}}">{{node.title}}</a></li>
        {% endfor %}
      </ul>
    </nav>

    {{ content }}

    <div id="footer" class="section text-white">
      <div class="container">
        {% capture foottext %} {% include footer.md %} {% endcapture %}
        {{ foottext | markdownify }}
      </div>
    </div>
  </div>
</body>
</html>
